name: Controllo BUR Lazio

on:
  schedule:
    - cron: '0 * * * *' # Ogni ora
  workflow_dispatch:
        
jobs:
  monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Serve per salvare lo stato della pagina
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Controllo Sintassi Bash
        uses: ludeeus/action-shellcheck@master
      - name: Install dependencies
        run: sudo apt-get install -y jq poppler-utils
      - name: Verifica BUR
        run: |
          set -x
          NEWPDF=0 #variabile di controllo per il rinvenimento di nuovi pdf od il rivenimento di chiavi specifiche nei nuovi pdf
          # Scarica la pagina e rimuove i tag dinamici/casuali



          curl -s "https://www.regione.lazio.it/api/bur/pubblicazioni?numero=&anno=&data_da=&data_a=" -H "Referer: https://www.regione.lazio.it/bur" > bur_nuovo.json
          
          if ! diff -q bur_nuovo.json bur_vecchio.json; then
            mkdir -p allegati_nuovi
            
            jq -r '.[].allegati[].link' bur_nuovo.json | while read -r link; do
              NOME_FILE=$(basename "$link")
              URL_COMPLETO="https://www.regione.lazio.it$link"
              
              if [ ! -f "allegati_nuovi/$NOME_FILE" ]; then
                curl -sL "$URL_COMPLETO" -o "allegati_nuovi/$NOME_FILE"
                
                if pdftotext "allegati_nuovi/$NOME_FILE" - | grep -q "2021IT05SFPR006"; then
                    NEWPDF=2
                elif [ "$NEWPDF" -ne 2 ]; then
                    NEWPDF=1
                fi
              fi
            done

            mv bur_nuovo.json bur_vecchio.json
            git add bur_vecchio.json

            git config user.name "GitHub Action"
            git config user.email "action@github.com"
            git add bur_vecchio.html allegati_nuovi/
            git commit -m "Nuova pagina BUR rilevata"
            git push
            if [ "$NEWPDF" = "1" ]; then
              echo "NUOVO DOCUMENTO PDF SCARICATO SENZA STRINGA - MALEDIZIONE!"
              exit 1
            elif [ "$NEWPDF" = "2" ]; then
              echo "STRINGA ASILI TROVATA - EVVIVA!"
              exit 1
            fi
          else
            echo "Nulla di nuovo."
            exit 0
          fi

#parole da cercare con la prossima versione: "CCI 2021IT05SFPR006"
