name: Controllo BUR Lazio

on:
  schedule:
    - cron: '0 * * * *' # Ogni ora
  workflow_dispatch:
        
jobs:
  monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Serve per salvare lo stato della pagina
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Controllo Sintassi Bash
        uses: ludeeus/action-shellcheck@master
      - name: Verifica BUR
        run: |
          set -x
          NEWPDF=false #variabile di controllo per il rinvenimento di nuovi pdf od il rivenimento di chiavi specifiche nei nuovi pdf
          # Scarica la pagina e rimuove i tag dinamici/casuali
          curl -s https://www.regione.lazio.it/bur | sed -E 's/(\?|&)(v|t|s|id)=[0-9a-zA-Z]*//g' > bur_nuovo.html
          
          # Confronta solo il testo (ignora differenze di spazi o metadati)
            # Se il file è cambiato, cerca i link PDF e scaricali
          if ! diff -q -w bur_nuovo.html bur_vecchio.html; then
            
            # Crea una cartella per i nuovi allegati
            mkdir -p allegati_nuovi
            
            # Estrae i link PDF e li scarica uno per uno
            grep -oP 'href="\K[^"]+\.pdf' bur_nuovo.html | while read -r link ; do
             NOME_FILE=$(basename "$link")
              # Controlla se il file esiste già nella cartella degli allegati
              if [ ! -f "allegati_nuovi/$NOME_FILE" ]; then
                NEWPDF=true
                URL_COMPLETO=$(echo "$link" | sed 's|^/|https://www.regione.lazio.it/|')
                echo "Nuovo file rilevato: $NOME_FILE. Scarico..."
                curl -sL "$URL_COMPLETO" -o "allegati_nuovi/$NOME_FILE"
                
                # Qui puoi inserire il controllo pdftotext se ti serve cercare la stringa
              else
                echo "$NOME_FILE già presente, salto."
              fi
            done

            mv bur_nuovo.html bur_vecchio.html
            git config user.name "GitHub Action"
            git config user.email "action@github.com"
            git add bur_vecchio.html allegati_nuovi/
            git commit -m "Nuovo BUR e allegati PDF rilevati"
            git push
            if ["$NEWPDF"=true]; then
              echo "NUOVO DOCUMENTO PDF SCARICATI - STRONZO!"
              exit 1
            fi
          else
            echo "Nulla di nuovo."
            exit 0
          fi

#parole da cercare con la prossima versione: "CCI 2021IT05SFPR006"
